.statistics {
  padding: 10px;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #6f42c1;

  .content {
    width: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    .title {
      margin: 0px;
      font-size: 36px;
      font-weight: bold;
      text-align: center;
    }

    table {
      border: 1px solid #6f42c1;
      border-collapse: collapse;

      th, td {
        border: 1px solid #6f42c1;
        text-align: center;
      }
    }
  }
}