.home {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    .title {
      margin: 0px;
      font-size: 36px;
      font-weight: 900;
      color: #28a745;
    }

    .btns {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }
  }
}
