.guide {
  padding: 10px;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    width: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    .title {
      margin: 0px;
      font-size: 36px;
      font-weight: bold;
      color: #6f42c1;
      text-align: center;
    }

    p {
      margin: 0px;
      font-size: 16px;
      color: #6f42c1;
      text-align: justify;
    }

    .green {
      color: #28a745
    }
  }
}