.settings {
  padding: 10px;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    width: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    .option {
      height: 38px;
      width: 100%;
      display: flex;
      justify-content: space-between;

      .option-name {
        line-height: 38px;
        vertical-align: middle;
        font-size: 16px;
        color: #6f42c1;
      }

      .option-select {
        outline: none;
      }

      .option-volume {
        display: flex;
        column-gap: 5px;
        font-size: 16px;
        color: #6f42c1;

        span {
          margin: 0px;
          line-height: 38px;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }
}