.game {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    
    .menu {
      display: flex;
      flex-direction: row;
      column-gap: 20px;
    }

    // .ace_editor {
    //   border: 1px solid red;
    // }
  }
}